.login_image {
  width: 70%;
  padding-top: 3rem;
  margin: auto;
}
.main_container {
  display: flex;
  min-height: calc(100vh - 8rem);
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
}
